 <div id="header">
      <a class="logo "href="#"><img src="../images/logo.jpg" alt="logo"></a>
    <div>
      <ul id="navbar">
        <li><a href="/home">Home</a></li>
        <li><a href="/auth/login">Login/Sign Up</a></li>
        <li><a href="/aboutUs">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/cart/shopping-cart"><i class="fa-solid fa-bag-shopping"></i></a></li>
      </ul>
    </div>
     <div id="mobile">
          <a href="/cart/shopping-cart"><i class="fa-solid fa-bag-shopping"></i></a>
          <i id="bar" class="fas fa-bars"></i>
        </div>
    </div>


<div id="cart">
<table width="100%">
    <thead>
        <tr>
            <td>Remove</td>
            <td>Product</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Subtotal</td>
            <td>Edit</td>
            
        </tr>
    </thead>
    <tbody>
        {{#each cart}}
        <tr>
            <td><a href="/cart/{{item._id}}/delete-product"><i class="fa-solid fa-trash"></i></a></td>
            <td><strong><img src="{{item.imageUrl}}" alt="">{{item.name}}</strong></td>
            <td><span>${{item.price}}</span></td>
            <td><span>{{qty}}</span></td>
            <td><span>${{price}}</span></td>
            <td><a href="/cart/{{item._id}}/edit-cart"><i class="fa-solid fa-pen-to-square"></i></a></td>
            
        </tr> 
        {{/each}}
    </tbody>
</table>
</div>

     
    <div id="subtotal">
        <h3>Cart Totals</h3>
        <table>
            <tr>
                <td>Cart Subtotal</td>
                <td><span>${{totalPrice}}</span></td>
            </tr>
            <tr>
                <td>Shipping</td>
                <td>Free</td>
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td><strong>${{totalPrice}}</strong></td>
            </tr>
            
        </table>
        <button class="checkout-button"><a href="/cart/shipping">Checkout</a></button>
    </div>
  
  
  

  