 <div id="header">
      <a class="logo "href="#"><img src="../images/logo.jpg" alt=""></a>
    <div>
      <ul id="navbar">
        <li><a href="/home">Home</a></li>
        <li><a href="/auth/login">Login/Sign Up</a></li>
        <li><a href="/aboutUs">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/cart/shopping-cart"><i class="fa-solid fa-bag-shopping"></i></a></li>
        {{#if isLoggedIn}}
        <li><a href="/auth/logout">Log Out</a></li>
        {{/if}}
      </ul>
    </div>
        <div id="mobile">
          <a href="/cart/shopping-cart"><i class="fa-solid fa-bag-shopping"></i></a>
          <i id="bar" class="fas fa-bars"></i>
        </div>
    </div>



<div class="page-header">
    <div class ="text-header">
        <h1>Products</h1>
        <p>Church Collection</p>
    </div>
    <div id="product1">
    {{#each foundProducts}}
     {{!-- <a href="/{{id}}"> --}}
    <div class="product-home">
    <div class="img-home">
    <img src="{{imageUrl}}" alt="image" />
    </div>
    <div class="description">
    <h5>{{name}}</h5>
    <h4>${{price}}</h4>
    <a href="{{id}}"><i class="fa-solid fa-bag-shopping" ></i></a>
</div>
<a href="{{id}}">see Details</a>

</div>
    {{/each}}
    </div>
</div>  

<script src="/javascripts/navbar.js"></script>