<div id="header">
    <div class="icon">
        <a href="/home"><i class="fa-solid fa-arrow-left"></i></a>
    </div>
    </div>

<div id="product" class="section-p1">

<div class="product-img">
  <img src="{{imageUrl}}" width="100%" id="mainImg" alt="image" />
</div>

<div class="product-info">
  <h4>{{name}}</h4>
  <h2>${{price}}</h2>
  <select>
    <option value="">Select Size</option>
    {{#each size}}
    <option value="">{{this}}</option>
    {{/each}}
  </select>
  <input type="number" value="1">
  <button class="cart-button"><a href="/cart/{{id}}"> Add To Cart</a></button>
  <h4>Product Details</h4>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi dolores repellat aliquid reiciendis eaque voluptas mollitia iste! Vero vitae quasi quia necessitatibus eligendi labore sapiente commodi, dolore aut, eaque nam deleniti accusamus dolores natus, culpa nesciunt nulla architecto blanditiis nisi beatae. A velit aliquid quis quidem earum exercitationem repellendus eos.</p>
  

  
</div>



</div>